  <li>
    <% if @sharing %>
      <%= link_to file.filename, {:controller => "shared", :action => "download",:user => @user.username, :id => file.id}, :action => "download" %>
    <% else %>
      <%= link_to file.filename, {:controller => "training_files", :action => "download",  :id => file.id}, :action => "download" %> 
    <% end %>
    <%= image_tag('download.png')%>
    (<%= number_to_human_size(file.payload.length) %>) 
    added <%= time_ago_in_words(file.created_at) %> ago.
  </li>
