  <tr class="<%= cycle('even', 'odd', :name => 'class') -%>">
    <td> <%= duration_in_words peak_power[:duration] %></td>
    <td> <%= peak_power[:value].round %> W </td>
    <td> 
      <%= maximum_peak_power = @user.peak_powers.maximum_peak_power(peak_power[:duration]) %> W
      <%= peak_power[:value].round.eql?(maximum_peak_power) && '*' || nil%> 
    
    </td>
  </tr>

