<div id="main_wrapper">
  <div id="main"> 
    <%= render(:partial => 'common/secondary', :locals => {:header => shared_workouts_header(@user) } ) %>  
    <% if @workouts.size > 0 then %>
      <%= render :partial => 'common/workouts' %>
    <% else %>
    <% info_box do %>
      <span class="larger">
        This user does not have any shared workouts.
      </span>
      <% end %>
    <% end %>
  </div>
</div>
<% sidebar_div_tag do %>
  <%= render :partial => 'common/sort_by'%>
  <p style="text-align: center; color: green"><%= flash[:notice] %></p>
<% end %>
