<div id="main">
  <%= render(:partial => 'common/secondary', :locals => { :header => articles_header(@articles), :navigation => options_for_new_article_navigation } ) %>  
  <div class="list">   
    <% rounded_box nil, "complete", "full" do %> 
    <div class="container full"> 
    <table border="0" cellspacing="0" cellpadding="5">
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Body</th>
        <th colspan="2">Created</th>
      </tr>
      <%= render :partial => 'article', :collection => @articles %>
    </table>
    </div>
    <% end %>
  </div>
</div>

