<% @heading = content_tag :span, "Listing all articles (#{@articles.length})", :class => "larger" %>
<% @links = [
  { :text => 'Add an article.', :options => {:controller => 'admin/articles', :action => 'new' } } ] %>


<div id="main">
  <%= render(:partial => 'common/secondary') %>  
  <div class="list">   
    <% rounded_box nil, "complete", "full" do %> 
    <div class="container full"> 
    <table border="0" cellspacing="0" cellpadding="5">
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Body</th>
        <th colspan="2">Created</th>
      </tr>
      <%= render :partial => 'article', :collection => @articles %>
    </table>
    </div>
    <% end %>
  </div>
</div>

