<% @primary_heading= link_to content_tag(:h1, "#{@article.title}"), admin_article_path(@article) %>
<div class="larger">
  <%= textilize @article.body %>
</div>
<br/>
<%= link_to 'Edit', edit_admin_article_path(@article) %> |
<%= link_to 'Back', admin_articles_path %>
