#sub{border-bottom:2px solid #BBB;color:#333;margin:0 auto 10px auto;width:98%;}
#sub h1{float:left;color:#333;margin:5px 5px 5px 0;}
#sub p{float:left;margin:18px 5px 5px 10px;}
#sub .edit{float:left;padding:20px 0 0 5px;}
#sub h1 a{color:#333;}
#title{font-family:Helvetica;font-size:45px;float:left;margin:5px 5px 5px 40px;}
#title a{color:#006ADB;}
