#graph_summary table{border:1px solid #BBB;margin:0px auto;background:#CCC;font-size:10px;text-align:left;}
#graph_summary td{background:#EEE;width:100px}
#main_wrapper{float:left;width:70%;background-image:url(../images/divider.png);background-repeat:repeat-y;background-position:top right;}
#main{float:left; width:100%;}
#main h4{margin:5px;}
#main p{margin:5px;}
#main .details{float:left;width:100%;}
#main .list{margin-top:10px;}
#main .summary table, .list table{border:2px solid #BBB;background:#FFF;margin:10px auto;width:95%;font-size:13px;text-align:left;}
#main th{background:#DDD;font-weight:normal;text-align:left;font-size:14px;}
#main .stats{margin:5px;text-align:right;}
#main .notes{font-family:Monaco;margin:10px 5px;}
#main .edit{float:left;margin:8px 0 0 8px;}
#main .zoom{text-align:right; margin:0 10px;}
#main .plot{margin:10px auto;}

#plot_wrapper{margin:0px auto;overflow:auto; width:100%;}

#more{width:100%;float:left;}
#more p{margin:15px;}
#content{clear:both;margin:10px auto;padding-top:20px;padding-bottom:20px;text-align:left;background:#FFF;border-top:2px solid #BBB;border-bottom:2px solid #BBB;}
.details ul{width:100%;padding:0;margin:0;}
.details li{width:95%;margin:7px auto;list-style:none;background:#FFF;padding:5px;}
.separator{margin:10px 0;border-bottom:2px solid #CCC;}
.heading{background :#E5ECFF;border:1px solid #CCC;margin:10px auto;}
.heading p{padding:0;margin:5px;float:left;}
.heading span{margin:8px;float:right;}
.highlight_box{background :#E5ECFF;border:2px solid #CCC;margin:0px auto;padding:5px;}
.highlight_box a{margin:1px;}
