  <div class="container half">
    <% rounded_box 'Delete Account', "complete", "wide" do %>
      <% container "full" do %>
        
        <% form_tag(:users, :url => users_path, :method => :delete) do |f| %>
          <fieldset>
            <p>  
              If you delete your account all workouts that you have uploaded will not longer be available.
            </p>
            <br />
            <%= check_box_tag 'confirm_delete' -%><span> I want to delete my account.</span><br /><br />
            <%= submit_tag "Delete my account", :disabled => true, :id => 'submit_delete' %>
          </fieldset>
        <% end %>
        
      <% end %>
    <% end %>
    <%=observe_field :confirm_delete, :on => 'click', :function => "$('submit_delete').enable()" %>
    <p style="text-align: center; color: green"><%= flash[:notice] %></p>
  </div>