<div class="left container full">
 <div class="highlight_box half">
  <br/></br><br/></br>
  <h2 class="center">Sharing not enabled.</h2>
  <div class="large center">This user is not currently sharing any workouts.</div>
  <br/></br><br/></br>
 </div>
</div>