<div class="left container full">
 <div class="highlight_box half">
  <h2 class="center">Sharing not enabled.</h2>
  <div class="large center">This user is not currently sharing any workouts.</div><br/></br>
  <div class="large"><%= link_to "&lsaquo; Home", :controller => "site", :action => "index" %></div>
 </div>
</div>