
<% rounded_box "Sharing not enabled", "complete", "half" do %>

  <div class="container full">
    <span class="large">This user is not currently sharing any workouts.</span><br/></br>
    <span class="large"><%= link_to "&lsaquo; Home", :controller => "pages", :action => "index" %></sapn>
  </div>
  
<% end %>
