<% @primary_heading= link_to content_tag(:h1, "Sign Up and Pricing"), :action => "index" %>

<div class="container complete">

<div style="float:left; margin-top: 10px;" class="container half">
 <div class="highlight_box wide">
  <h2>Athlete Plus $7.99/month</h2>
  <ul style="height: 50px">
   <li>Unlimited workouts.</li>
   <li>View and modify your workouts from anywhere.</li>
   <li>Share workouts with others.</li>
  </ul>
  <h2><%= link_to "Sign Up", :controller => 'user', :action => 'signup'%></h2>
 </div>
</div>

<div style="float:left; margin-top: 10px;" class="container half">
 <div class="highlight_box wide">
  <h2>Free</h2>
  <ul style="height: 50px">
   <li>10 workouts.</li>
   <li>View and modify your workouts from anywhere.</li>
  </ul>
  <h2><%= link_to "Sign Up", :controller => 'user', :action => 'signup'%></h2>
 </div>
</div>
<div class="clear"></div>
<div class="container half">
 <br/>
 <h3>What is the comitment?</h3>
 <p class="large">  
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
 </p>
 
 <h3>When will I be billed?</h3>
 <p class="large">  
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
 </p>
</div>

</div>

