<div id="workouts" class="details">
  <ul>
    <%= render :partial => 'common/workouts/workout', :collection => @workouts %>
    <li>
      <%= render :partial => 'common/workouts/pagination' %>      
    </li>
  </ul>
</div>