        <fieldset>
          <legend>Training Zones</legend>
          <label for="threshold_power">Threshold Power:</label><br/>
          <%= text_field_tag "preferences[threshold_power]", @user.preferences[:threshold_power], :size => 3 %> watts<br />
        </fieldset>