<% if admin_logged_in? %>
  <div id="toolbar" class="smaller">
    Signed in as <%= @user.preferences[:display_name] %>.
    <%= link_to('Sign-out.', :controller => 'session', :action => 'destroy') %>
  </div>
<% end %>

<div id="navigation">
  <% if admin_logged_in? %>
    <ul>
      <%= navigation_item_for_controller 'Users',  {:controller => 'users', :include => ['users']}%>
      <%= navigation_item_for_controller 'Articles',  {:controller => 'articles', :include => ['articles']}%>
    </ul>        
  <% end %>
</div>
