<div id="navigation">
  <% unless admin_logged_in? %>
    <ul>
      <%= navigation_item 'Home', root_url%>
    </ul>
  <% else %>

    <ul>
      <%= navigation_item_for_controller 'Users',  {:controller => 'users', :include => ['users']}%>
      <%= navigation_item 'Log out',  {:controller => 'session', :action => 'destroy'}%>      
    </ul>        
  <% end %>
    </div>
