<div id="main">
  <%= render(:partial => 'common/secondary', :locals => { :header => summary_header }) %>
  <div class="summary">
    <% rounded_box "Weekly", "half", "full" do %>
      <% container "full" do %>
        <%= render :partial => 'weekly' %>
      <% end %>
    <% end %>

    <% rounded_box "Monthly", "half", "full" do %>
      <% container "full" do %>
        <%= render :partial => 'monthly' %>
      <% end %>
    <% end %>
  </div>  
</div>
