<div id="navigation">
      <ul class="primary">
        <%= navigation_item_for_controller 'Workouts',  {:controller => 'workouts'}%>
        <%= navigation_item_for_controller 'Training Summary', {:controller => 'summary'}%>
        <%= navigation_item_for_controller 'Settings',  {:controller => 'settings'}%>
        <%= navigation_item 'Sign Out',  {:controller => 'user', :action => 'signout'}%>
      </ul>
    </div>