<% @primary_heading= link_to content_tag(:h1, "Pricing and Sign Up"), :action => "index" %>

<div id="signup" class="container complete">


<div class="container full">
  <table width="100%">
    <tr>
      <td></td>
      <td>Pro $9.99/month</td>
      <td style="background: #eee; border: 1px solid #bbb; padding: 5px">Plus <br /> <span class="huge">$6.99/month</span></td>
      <td>Basic $3.99/month</td>
      <td>Free</td>
    </tr>
    <tr>
      <td>Workouts</td>
      <td>Unlimited.</td>
      <td>5/week.</td>
      <td>2/week.</td>
      <td>10.</td>
    </tr>
  </table>
</div>

<div class="left container half">
 <div class="highlight_box wide">
  <h2>Athlete Pro $9.99/month</h2>
  <ul style="height: 50px">
   <li>Unlimited workouts.</li>
   <li>View and modify your workouts from anywhere.</li>
   <li>Share your workouts with others.</li>
  </ul>
  <br/>
  <h2><%= link_to "Sign-up for Pro", :controller => 'user', :action => 'signup', :plan => "pro" %></h2>
 </div>
</div>

<div class="right container half">
 <div class="highlight_box wide">
  <h2>Free</h2>
  <ul style="height: 50px">
   <li>10 workouts.</li>
   <li>View and modify your workouts from anywhere.</li>
   <li>Share your workouts with others.</li>
  </ul>
  <br/>
  <h2><%= link_to "Sign-up for Free", :controller => 'user', :action => 'signup', :plan => 'free'%></h2>
 </div>
</div>
<div class="clear"></div>
<div class="container half">
 <br/>
 
 <h3>30-day Free trial.</h3>
 <p class="large">  
  When you sign-up for a paid plan, a 30-day free trial is included.  If you cancel before the 30 days is up, you won't be charged.  The 30-day free trail is not available if you upgrade from the free plan. 
 </p>
 
 <h3>Is there a commitment?</h3>
 <p class="large">  
  Interval is month-to-month.  Cancel at anytime. There are no sign-up fees, no long term contracts, and no cancelation fees.  
 </p>
 
 <h3>Upgrade or downgrade at anytime.</h3>
 <p class="large">  
  Upgrade, downgrade, or cancel at anytime. There are no extra fees.  The new charge will take affect on your next billing cycle.  If you cancel, you won't be charged again.  We do not prorate partial months and cannot issues refunds.
 </p>
 
</div>

</div>

