<% @primary_heading= link_to content_tag(:h1, "Pricing and Sign Up"), :action => "index" %>

<div id="signup" class="container complete">

<br/>
<div class="container full">
  <table id="plans" width="100%" cellspacing=0>
    <tr>
      <th class="features"></th>
      <th class="plan">Pro</th>
      <th class="plan">Plus</th>
      <th class="plan">Basic</th>
      <th class="plan end">Free</th>
    </tr>
    <tr>
      <td class="feature">Price</td>
      <td class="plan">$9.99/month <br /><span class="small lighter">Includes a 30-day trial.</span></td>
      <td class="plan">$6.99/month <br /><span class="small lighter">Includes a 30-day trial.</span></td>
      <td class="plan">$3.99/month <br /><span class="small lighter">Includes a 30-day   trial.</span></td>
      <td class="plan end">Free</td>
    </tr>

    <tr>
      <td class="feature">Workouts</td>
      <td class="plan ">Unlimited</td>
      <td class="plan ">5/week</td>
      <td class="plan ">2/week</td>
      <td class="plan  end">10</td>
    </tr>
        
    <tr>
      <td class="feature">Workout Graphs</td>
      <td class="plan check">&nbsp;</td>
      <td class="plan check">&nbsp;</td>
      <td class="plan check ">&nbsp;</td>
      <td class="plan check end">&nbsp;</td>
    </tr>
    
    <tr>
      <td class="feature">Training Summaries</td>
      <td class="plan check">&nbsp;</td>
      <td class="plan check">&nbsp;</td>
      <td class="plan check ">&nbsp;</td>
      <td class="plan check end">&nbsp;</td>
    </tr>
    
    <tr>
      <td class="feature">Peak Power Analysis</td>
      <td class="plan check">&nbsp;</td>
      <td class="plan check">&nbsp;</td>
      <td class="plan check ">&nbsp;</td>
      <td class="plan check end">&nbsp;</td>
    </tr>
    
    <tr>
      <td class="feature">Sharing</td>
      <td class="plan check">&nbsp;</td>
      <td class="plan check">&nbsp;</td>
      <td class="plan check ">&nbsp;</td>
      <td class="plan check end">&nbsp;</td>
    </tr>
    
    <tr>
      <td class="feature last">&nbsp;</td>
      <td class="plan last"><%= link_to "Sign-up for Pro", :controller => 'user', :action => 'signup', :plan => "pro" %></td>
      <td class="plan last"><%= link_to "Sign-up for Plus", :controller => 'user', :action => 'signup', :plan => "plus" %></td>
      <td class="plan last"<%= link_to "Sign-up for Basic", :controller => 'user', :action => 'signup', :plan => "basic" %></td>
      <td class="plan last end"><%= link_to "Sign-up for Free", :controller => 'user', :action => 'signup', :plan => "free" %></td>
    </tr>
    
     
  </table>
</div>

<div class="container half">
 <br/>
 
 <h3>How does the 30-day free trial work?</h3>
 <p class="large">  
  When you sign-up for a paid plan, a 30-day free trial is included.  If you cancel before the 30 days is up, you won't be charged.  The 30-day free trail is not available if you upgrade from the free plan. 
 </p>
 
 <h3>Is there a commitment?</h3>
 <p class="large">  
  No. Interval charges monthly.  Cancel at anytime. There are no sign-up fees, no long term contracts, and no cancelation fees.  
 </p>
 
 <h3>Change your plan at anytime.</h3>
 <p class="large">  
  Upgrade, downgrade, or cancel at anytime. There are no extra fees.  The new charge will take effect on your next billing cycle.  If you cancel, you won't be charged again.  We do not prorate partial months and cannot issues refunds.
 </p>
 
</div>

</div>

