<div class="container full">
  <p class="center">
    <span class="large">We're currently working on some help documentation.  In the meantime get in touch.</span>
    <br/> <br/>
    <span class="huge"><%= mail_to "support@intervalapp.com" %></span>
  </p>
</div>