<div class="container full">

<h1>Interval Terms of Service</h1>
<p>By using the intervalapp.com web site (“Service”), all services of intervalapp.com, you are agreeing to be bound by the following terms and conditions (“Terms of Service”). </p>

<p>Interval reserves the right to update and change the Terms of Service from time to time without notice. Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes. You can review the most current version of the Terms of Service at any time at: <%= link_to "http:/intervalapp.com/site/terms", :action => 'terms' %></p>

<p>Violation of any of the terms below will result in the termination of your Account. While intervalapp.com prohibits such conduct and Content on the Service, you understand and agree that intervalapp.com cannot be responsible for the Content posted on the Service and you nonetheless may be exposed to such materials. You agree to use the Service at your own risk.</p>

<h3>Account Terms</h3>
  <ol>
   <li>You must be 13 years or older to use this Service.</li>
   <li>You must be a human. Accounts registered by “bots” or other automated methods are not permitted.</li>
   <li>You must provide your legal full name, a valid email address, and any other information requested in order to complete the signup process.</li>
   <li>Your login may only be used by one person – a single login shared by multiple people is not permitted. You may create separate logins for as many people as your plan allows.</li>
   <li>You are responsible for maintaining the security of your account and password. intervalapp.com cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.</li>
   <li>You are responsible for all Content posted and activity that occurs under your account (even when Content is posted by others who have accounts under your account).</li>
   <li>If you are using a free account you are not permitted to block ads.</li>
   <li>One person or legal entity may not maintain more than one free account.</li>
   <li>You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).</li>
  </ol>

<h3>Payment, Refunds, Upgrading and Downgrading Terms</h3>
  <ol>
   <li>All paid plans must enter a valid credit. Free accounts are not required to provide a credit card number.</li>
   <li>An upgrade from the free plan to any paying plan will immediately bill you.</li>
   <li>The Service is billed in advance on a monthly basis and is non-refundable. There will be no refunds or credits for partial months of service, upgrade/downgrade refunds, or refunds for months unused with an open account. In order to treat everyone equally, no exceptions will be made.</li>
   <li>All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties, excluding only United States (federal or state) taxes.</li>
   <li>For any upgrade or downgrade in plan level, your credit card that you provided will automatically be charged the new rate on your next billing cycle.</li>
   <li>Downgrading your Service may cause the loss of Content, features, or capacity of your Account. intervalapp.com does not accept any liability for such loss.</li>
  </ol>
<h3>Cancellation and Termination</h3>
  <ol>
   <li>You are solely responsible for properly canceling your account. An email or phone request to cancel your account is not considered cancellation. You can cancel your account at any time by clicking on the Account link in the global navigation bar at the top of the screen. The Account screen provides a simple no questions asked cancellation link.</li>
   <li>All of your Content will be immediately deleted from the Service upon cancellation. This information can not be recovered once your account is cancelled.</li>
   <li>If you cancel the Service before the end of your current paid up month, your cancellation will take effect immediately and you will not be charged again.</li>
   <li>intervalapp.com, in its sole discretion, has the right to suspend or terminate your account and refuse any and all current or future use of the Service, or any other intervalapp.com service, for any reason at any time. Such termination of the Service will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture and relinquishment of all Content in your Account. intervalapp.com reserves the right to refuse service to anyone for any reason at any time.</li>
  </ol>
<h3>Modifications to the Service and Prices</h3>
  <ol>
   <li>intervalapp.com reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice.</li>
   <li>Prices of all Services, including but not limited to monthly subscription plan fees to the Service, are subject to change upon 30 days notice from us. Such notice may be provided at any time by posting the changes to the Interval Site (intervalapp.com) or the Service itself.</li>
   <li>Interval shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.</li>
  </ol>
<h3>Copyright and Content Ownership</h3>
  <ol>
   <li>We claim no intellectual property rights over the material you provide to the Service. Your profile and materials uploaded remain yours. However, by setting your pages to be shared publicly, you agree to allow others to view and share your Content.</li>
   <li>intervalapp.com does not pre-screen Content, but intervalapp.com and its designee have the right (but not the obligation) in their sole discretion to refuse or remove any Content that is available via the Service.</li>
   <li>All Content is copyright ©2008 intervalapp.com. All rights reserved. You may not duplicate, copy, or reuse any portion of the HTML/CSS, Javascript, or visual design elements or concepts without express written permission from intervalapp.com.</li>
  </ol>
<h3>General Conditions</h3>
  <ol>
    <li>Your use of the Service is at your sole risk. The service is provided on an “as is” and “as available” basis.</li>
    <li>Technical support is only provided to paying account holders and is only available via email.</li>
    <li>You understand that intervalapp.com uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.</li>
    <li>You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service, intervalapp.com, or any other intervalapp.com service.</li>
    <li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by intervalapp.com.</li>
    <li>We may, but have no obligation to, remove Content and Accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party’s intellectual property or these Terms of Service.</li>
    <li>Verbal, physical, written or other abuse (including threats of abuse or retribution) of any intervalapp.com customer, employee, member, or officer will result in immediate account termination.</li>
    <li>You understand that the technical processing and transmission of the Service, including your Content, may be transfered unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.</li>
    <li>You must not upload, post, host, or transmit unsolicited email, SMSs, or “spam” messages.</li>
    <li>You must not transmit any worms or viruses or any code of a destructive nature.</li>
    <li>If your bandwidth usage exceeds 500 MB/month, or significantly exceeds the average bandwidth usage (as determined solely by intervalapp.com) of other Interval customers, we reserve the right to immediately disable your account or throttle your file hosting until you can reduce your bandwidth consumption.</li>
    <li>intervalapp.com does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected.</li>
    <li>You expressly understand and agree that intervalapp.com shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if intervalapp.com has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.</li>
    <li>The failure of intervalapp.com to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and intervalapp.com and govern your use of the Service, superceding any prior agreements between you and intervalapp.com (including, but not limited to, any prior versions of the Terms of Service).</li>
    <li>Questions about the Terms of Service should be sent to <%= mail_to "support@intervalapp.com"%>.</li>
  </ol>
  (Inspired by the <%= link_to "37signals", "http://www.37signals.com" %> Terms of Service.)

</div>