<% unless processors.empty? %>
  <div class="container wide">
    <div id="processing">
      <%= javascript_tag 'var poll_workouts = true' %>
      <%= periodically_call_remote(
        :url => processors_path, 
        :method => :get,
        :frequency => '10',
        :condition => 'poll_workouts == true') %>
        
      <span class="light">Processing <%= pluralize processors.size, "workout" %>.</span>
      <%= render :partial => "processors/processor", :collection => processors %>    
    </div>
  </div>
<% end %>