<% @primary_heading = link_to content_tag(:h1, "Users"), :action => "index" %>
<% @secondary_heading = content_tag :span, "Listing all users (#{@users.length})", :class => "larger" %>

<div id="main"> 
  <div class="list">   
    <% rounded_box nil, "complete", "full" do %> 
    <div class="container full"> 
    <table border="0" cellspacing="0" cellpadding="5">
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Plan</th>
        <th>Workouts</th>
        <th colspan="2">Joined</th>
      </tr>
      <%= render :partial => 'user', :collection => @users %>
    </table>
    </div>
    <% end %>
  </div>
</div>

