<div class="container full">
<h1>Support & FAQs</h1>
  <div class="highlight_box">
    <div class="container wide">
      <p class="larger">
        <strong>Do you need help with Interval?</strong>  You can browse the FAQs below.
        If you can't find your answer here or have a suggestion, you can<%= mail_to "support@intervalapp.com", "contact us."-%> 
      </p>
    </div>
  </div>

  <br /> <br />
  
  <ul class=" center" style="list-style-type:none">
    <%= render :partial => "article", :collection => @articles %>
  </ul>

  <br /> <br />
  <p class="center">
    <span class="large">
      Still can't find the answer you were looking for?  
      <%= mail_to "support@intervalapp.com", "Get in touch."%>
    </span>
  </p>
</div>