<div class="container full">

  <h1><%= @article.title %></h1>
  
  <div class="large">
    <%= textilize @article.body %>
  </div>
  <div class="larger">
    <%= link_to( "#{content_tag(:span, '&laquo;', :class=>'huge')} Back", articles_path) %>
  </div>
</div>