

<div id="navigation">
  <ul>
    <%= navigation_item_for_controller 'Workouts',  {:controller => 'workouts', :include => ['workouts', 'peak']}%>
    <%= navigation_item_for_controller 'Training Summary', {:controller => 'summary', :include => ['summary']}%>
    <%= navigation_item_for_controller 'Preferences',  {:controller => 'preferences', :include => ['preferences']}%>
    <%= navigation_item 'Upload',  {:controller => 'training_files', :action => 'new'}%>      
  </ul>        
</div>
