<% unless processing.empty? %>
  <div class="container wide" id="processing">
    <span class="light">Processing <%= pluralize processing.size, "workout" %>.</span>
    <%= render :partial => "common/processing_workout", :collection => processing %>
  </div>
<% end %>