<% rounded_box nil, "complete", "wide" do %>
  <div class="top">
    Recent Workouts
  </div>
  <ul id="recent">
    <%= render :partial => "common/recent_workout", :collection => @recent_workouts  %>
  </ul>
  <%= render :partial => "common/processing", :locals => { :processing => @processing }  %>
<% end %>

