<% rounded_box nil, "complete", "wide" do %>
  <div class="top">
    Recent Workouts
  </div>
  <ul>
    <%= render :partial => "common/recent_workout", :collection => @recent_workouts  %>
  </ul>
  
  <div class="container wide">
    <span class="light">Processing 2 workouts.</span>
  </div>
<% end %>

