  <div class="box_wrapper <%= wrapper_size %>">
        <div class="box <%= box_size %>">
            <%= header && content_tag(:h2, header) %>
            <%= body %>
            <div class="clear"> </div> 
        </div>
    </div>