  <div class="box_wrapper <%= wrapper_size %>">
        <div class="box <%= box_size %>">
          <div class="box_top"><div></div></div>
            <%= header && content_tag(:h2, header) %>
            <%= body %>
            <div class="clear"> </div> 
          <div class="box_bottom"><div></div></div>
        </div>
    </div>