<div id="secondary" class="full"> 
  <ul class="small">
    <%= @secondary_links && @secondary_links.collect{ |link| secondary_item link[:text], link[:options] }.join('<li>|</li>') %>
   </ul>
  <%= @secondary_heading %>
  <div class="clear"></div>
</div>
