<div id="navigation">
  <ul>
    <%= navigation_item 'Home', root_path %>
    <%= navigation_item 'Tour', tour_path %>
    <%= navigation_item 'Sign-up for Free',  signup_path %>
    <%= navigation_item 'Sign-in', signin_path %>
  </ul>
</div>
