<div id="navigation">
  <ul>
    <%= navigation_item 'Home', {:controller => 'site'}%>
    <%= navigation_item 'Tour', tour_url%>
    <%= navigation_item 'Sign-up for Free',  {:controller => 'user', :action => 'signup'}%>
    <%= navigation_item 'Sign-in', {:controller => 'user', :action => 'signin'}%>
  </ul>
</div>
